.cards {
    padding: 10px;
    background-color: black;
    width: 250px;
    margin: 20px;
    border: 2px solid rgb(130, 167, 140);   
}

.cards__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: chartreuse;
}

.cards__description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    color: azure;
}