
.bi-menu-button-wide {
    background: black;
    margin-left: 20px;
    color: azure;
    font-size: 30px;
}

.bi-person-bounding-box {
    background: black;
    color: azure;
    font-size: 30px;
}