.navbar {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    
}

.navbar__btn {
    color: aliceblue;
    background-color: black;
    border-color: black;
    font-size: 20px;
    margin-right: auto;
}

.nabvar__logoContainer {
    margin: auto;
}

.nabvar__logo {
    height: 60px; 
}
